@font-face{
font-family: 'Alegreya_Sans';
src: url('/Media/Alegreya_Sans/AlegreyaSans-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'Alegreya_Sans';
src: url('/Media/Alegreya_Sans/AlegreyaSans-Italic.ttf') format('truetype');
font-weight: normal;
font-style: italic;
}
@font-face{
font-family: 'Alegreya_Sans';
src: url('/Media/Alegreya_Sans/AlegreyaSans-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: 'Alegreya_Sans';
src: url('Media/Alegreya_Sans/AlegreyaSans-Medium.ttf') format('truetype');
font-weight: bold;
font-style: italic;
}
a{
	color: black;
	display: block;
	text-decoration: none;
}
a:visited{
	color:black;
}
a:active{
	color:black;
}
body{
	font-family: "Alegreya Sans";
	margin: 0;
	height: 100%;
	color: black;
}
/*@media (min-width: 900px){*/
.menu_header{
	text-align: center;
}
.black_menu{
	background-color: black;
	height: 40px;
}
.black_menu a{
	color: white;
}
.background_header{
	height: 500px;
	background: url(/Media/back.jpeg); 
	background-size: 100%;
	background-attachment: scroll;
}
.logo{
	opacity: 1;
	background: rgba(255,255,255,.8);
	height: 100px;
	text-align: center;
	font-size: 32px;
	font-style: bold;
}
.menu_content{
	font-size: 12px;
	height: 50px;
}
.content{
	margin-top: -150px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .3);
	height: 770px;
}
.box{
	margin-right: auto;
	margin-left: auto;
	width: 60%;
	padding: 4px;
	background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
	border-radius: 6px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
}
.footer_background{
	text-align: center;
	width: 100%;
	height: 150px;
	background: url(/Media/Footer-2x.png);
	background-repeat: repeat-x;
}
.name_menu{
	font-size: 16px;
	font-weight: bold;
}
.label_tickets{
	font-size: 13px;
}
.guest_ticket{
	height: 100px;
	width: 100%;
}