@font-face{
font-family: 'Alegreya_Sans';
src: url('/Media/Alegreya_Sans/AlegreyaSans-Regular.ttf') format('truetype');
font-weight: normal;
font-style: normal;
}
@font-face{
font-family: 'Alegreya_Sans';
src: url('/Media/Alegreya_Sans/AlegreyaSans-Italic.ttf') format('truetype');
font-weight: normal;
font-style: italic;
}
@font-face{
font-family: 'Alegreya_Sans';
src: url('/Media/Alegreya_Sans/AlegreyaSans-Bold.ttf') format('truetype');
font-weight: bold;
font-style: normal;
}
@font-face{
font-family: 'Alegreya_Sans';
src: url('Media/Alegreya_Sans/AlegreyaSans-Medium.ttf') format('truetype');
font-weight: bold;
font-style: italic;
}
a{
	color: black;
	display: block;
	text-decoration: none;
}
a:visited{
	color:black;
}
a:active{
	color:black;
}
body{
	font-family: "Alegreya Sans";
	margin: 0;
	height: 100%;
	color: black;
}
/*@media (min-width: 900px){*/
.menu_header{
	text-align: center;
}
.black_menu{
	background-color: black;
	height: 40px;
}
.black_menu a{
	color: white;
}
.background_header{
	height: 500px;
	background: url(/Media/back.jpeg); 
	background-size: 100%;
	background-attachment: scroll;
}
.logo{
	opacity: 1;
	background: rgba(255,255,255,.8);
	height: 100px;
	text-align: center;
	font-size: 32px;
	font-style: bold;
}
.menu_content{
	font-size: 12px;
	height: 50px;
}
.content{
	margin-top: -250px;
	background: #fff;
	margin-right: auto;
	margin-left: auto;
	width: 60%;
	border: solid 4px;
	animation: rainbow 5s linear infinite;
}
/*#content_main{*/
/*	animation: rainbow 5s linear infinite;*/
/*}*/
@keyframes rainbow {
	0% { border-color: #fe543a }
	10% { border-color: #ff8945 }
	20% { border-color: #ffc751 }
	30% { border-color: #a9cf4f }
	40% { border-color: #5fda94 }
	50% { border-color: #5fda94 }
	60% { border-color: #30a4ff }
	70% { border-color: #bd89fe }
	80% { border-color: #fe84fe }
	100% { border-color: #ff5d5b }
}
.footer_background{
	text-align: center;
	width: 100%;
	height: 150px;
	background: url(/Media/Footer-2x.png);
	background-repeat: repeat-x;
}
.name_menu{
	font-size: 16px;
	font-weight: bold;
}
.label_tickets{
	font-size: 13px;
}
.guest_ticket{
	height: 100px;
}
.promote_photo{
	width: 100%;
}
.promote{
	width: 100%;
}